.centerStuff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sketchbook{
    margin: 2%;
    flex-direction: row;
    width: 500px;
    height: 250px;
    padding: 1%;
    background-color: rgb(158, 126, 85);
    border-radius: 15px;
}

#leftPage{
    background-color: rgba(26, 98, 161, 0.445);
    width: 100%;
    height: 100%;
    transform-origin: right;
}

#rightPage{
    background-color: rgba(161, 26, 26, 0.445);
    width: 100%;
    height: 100%;
    transform-origin: left;
}
.pageTrigger:hover{
    transform: scaleX(0.9);
}

/* ========= ANIMATIONS ========= */

.pageLift {
    animation: lift 1.3s ease-in-out;
}
@keyframes lift {
    0% {transform: scaleX(90%);}
    100% {transform: scaleX(-100%);}
}
